<div id="slider">
    <form class="decor" method="post" name="inputData" action="add">
        <div class="form-inner">
            <h3>Введите данные</h3>
            <input type="number" step="0.01" min="0" max="42949672.90" name="sum" placeholder="Сумма" required  
            <% if (typeof editFin != "undefined") { %> 
                value=<%=editFin.sum/100 %> 
            <% } %> />            
            <input type="text" name="category" maxlength="50" placeholder="Категория" required
            <% if (typeof editFin != "undefined") { %> 
                value=<%=editFin.category %> 
            <% } %> />         
            <input type="date" id="datePicker" name="date" placeholder="Дата" max="9999-12-31" required
            <% if (typeof editFin != "undefined") { %> 
                <%var date = editFin.date; date.setMilliseconds(3 * 60 * 60 * 1000);%>
            <% } else {%>                   
                <%var date = new Date(); date.setMilliseconds(3 * 60 * 60 * 1000);%>               
            <% } %> 
            value=<%=date.toISOString().substring(0, 10) %> />   
            <textarea placeholder="Описание..." rows="6" name="description" required><% if (typeof editFin != "undefined") { %><%=editFin.description %><% } %></textarea>  
            <input type="radio" id="radio-1" name="type" value="expenses" checked>      
            <label for="radio-1">Расходы</label>  
            <input type="radio" id="radio-2" name="type" value="income" <% if (typeof editFin != "undefined" && editFin.income) { %>checked<% } %>>      
            <label for="radio-2">Доходы</label>

            <input type="hidden" name="edit_id" 
            <% if (typeof editFin != "undefined") { %> 
                value=<%=editFin.spending_id %> 
            <% } else {%> 
                value="-1"
            <% } %>/>  
            <input type="submit" value=<%=submitValue %> /> 
        </div>
    </form>
    
    <table class="table_sort">  
        <thead>
            <tr>
                <form method="post" name="thead" action="sort">
                    <td width="130px">
                        <button type="submit" class="submit_thead">
                            Сумма
                            <% if (sorting_info[0] == "sum") {%>
                                <% if (sorting_info[1]) {%>
                                    <i class="fa fa-sort-asc" class="sorting_icon"></i>
                                <%} else {%>
                                    <i class="fa fa-sort-desc" class="sorting_icon"></i>
                                <%} %>
                            <%} %> 
                        </button>
                    </td>
                    <input type="hidden" name="sorting_type" value="sum">
                </form>
                <form method="post" name="thead" action="sort">
                    <td width="150px">
                        <button type="submit" class="submit_thead">
                            
                            Категория
                            <% if (sorting_info[0] == "category") {%>
                                <% if (sorting_info[1]) {%>
                                    <i class="fa fa-sort-asc" class="sorting_icon"></i>
                                <%} else {%>
                                    <i class="fa fa-sort-desc" class="sorting_icon"></i>
                                <%} %>
                            <%} %> 
                        
                        </button>
                    </td>
                    <input type="hidden" name="sorting_type" value="category">
                </form>
                <form method="post" name="thead" action="sort">
                    <td width="400px">
                        <button type="submit" class="submit_thead">
                            Описание
                            <% if (sorting_info[0] == "description") {%>
                                <% if (sorting_info[1]) {%>
                                    <i class="fa fa-sort-asc" class="sorting_icon"></i>
                                <%} else {%>
                                    <i class="fa fa-sort-desc" class="sorting_icon"></i>
                                <%} %>
                            <%} %> 
                        </button>
                    </td>
                    <input type="hidden" name="sorting_type" value="description">
                </form>
                <form method="post" name="thead" action="sort">
                    <td width="100px">
                        <button type="submit" class="submit_thead">
                            Дата
                            <% if (sorting_info[0] == "date") {%>
                                <% if (sorting_info[1]) {%>
                                    <i class="fa fa-sort-asc" class="sorting_icon"></i>
                                <%} else {%>
                                    <i class="fa fa-sort-desc" class="sorting_icon"></i>
                                <%} %>
                            <%} %> 
                        </button>
                    </td>
                    <input type="hidden" name="sorting_type" value="date">
                </form>
                <form method="post" name="thead" action="sort">
                    <td width="100px">
                        <button type="submit" class="submit_thead">
                            Тип
                            <% if (sorting_info[0] == "income") {%>
                                <% if (sorting_info[1]) {%>
                                    <i class="fa fa-sort-asc" class="sorting_icon"></i>
                                <%} else {%>
                                    <i class="fa fa-sort-desc" class="sorting_icon"></i>
                                <%} %>
                            <%} %> 
                        </button>
                    </td>
                    <input type="hidden" name="sorting_type" value="income">
                </form>
                <td width="40px"></td>
                <td width="40px"></td>
            </tr> 
        </thead>
        <tbody>
            <% for(var i=0; i<fins.length; i++) {%>
                
                    <tr><form method="post" name="update" action="update">
                        <td><%=fins[i].sum/100 %> BYN</td>
                        <td><%=fins[i].category %></td>
                        <td><%=fins[i].description %></td>
                        <td><%=fins[i].date.toLocaleDateString("ru-RU") %></td>
                        <td><%=fins[i].income == 0 ? "Расходы" : "Доходы" %></td>
                        <td><button type="submit" class="submit_delete" name="delete"><i class="fa fa-trash-o"></i></button></td>
                        <td><button type="submit" class="submit_delete" name="edit"><i class="fa fa-pencil-square-o"></i></button></td>
                        
                        <input type="hidden" name="spending_id" value=<%=fins[i].spending_id %>>                        
                    </form></tr>  
                                     
                
            <%} %>   
        </tbody>  
    </table>
</div>
